* {
    padding: 0;
    margin: 0;
    background: lightgrey;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    
}

.main h1 {
    color: #999999;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
}

.main form input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 8px;
    margin-top: 20px;
    border: 1px solid #ddd;
    outline-style: none;
    background: #ddd;
    border-radius: 4%;
}